
*{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Text Styles */

.page-title-text{
    font-size: 4rem;
    text-align: left;
    padding-top: 5%;
}

.section-header{
    font-size: 2.25rem;
}

.sub-heading-1{
    font-size: 2.0rem;
}

.sub-heading-2{
    font-size: 1.75rem;
}

.sub-heading-3{
    font-size: 1.5rem;
    font-weight: bolder;
}

.text-style-1{
    font-size:1.15rem;
    font-weight: bold;
    font-family: 'Noto Sans JP';
}

.text-style-2{
    font-size: 1rem;
    font-family: 'Noto Sans JP';
}

.text-style-3{
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align:justify;
    line-height: 130%;
    font-family: 'Noto Sans JP';
}

code{
    background-color:rgba(100, 100, 100, 0.2);
    font-size: 1em;
    font-weight: bold;
    font-family: 'Noto Sans JP';
}

.nav-link{
    text-decoration: none;
    font-size: 1.4rem;
    margin-left:2rem;
    margin-right: 2rem;
}

.link-style-2{
    text-decoration: none;
}
.list-style-1 li{
    list-style-type: none;
}
/* Images */

#cw_logo{
    width: 60%;
    max-width:9rem;
}

.project-thumbnail-img{
    width: 90%;
    max-width: 50vw;
}

.fab{
    width: 3rem;
    font-size: 2.5rem;
}

/* Layout */

.Page{
    margin-left:10%;
    margin-right:10%;
    padding-left:1rem;
    padding-right: 1rem;
}

.external-links{
    margin-top: 0.35rem;

}

.image-link-area{
    text-align: center;
}

#navbar{
    position: fixed;
    top:0;
    left:25%;
    background-color:rgba(100, 100, 100, 0.8);
}

#header-block{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    margin-top: 2rem;
}

#welcome-section{
    height: 100vh;
}

.project-tile{
    display: grid;
    grid-template-columns: auto 50vw;
    grid-template-areas:
    "title title"
    "thumbnail stories";
    margin-bottom: 1.5rem;
}

.project-thumbnail-area{
    grid-area: thumbnail;
    padding-top: 15%;
}

.user-stories{
    grid-area: stories;
}

.title{
    grid-area: title;
}
#profile-section{
    height: 50vh;
}

@media only screen and (max-width: 500px){
    *{
        font-size: 13.3px;
    }

    .page-title-text{
        font-size: 3rem;
        margin-left:2rem;
    }

    #cw_logo{
        width: 100%;
        padding: 0.6rem;
    }

    #header-block{
        margin-top: 3rem;
    }

    #navbar{
        left:0;
        width:100%;
        padding: 0.5rem;
        margin: auto;
    }
    
}