.header { 
    max-width: 100% ;
    height: 500px;
    display: block;
    background-repeat: no-repeat;
    background: url("unifybanner.png") center center white;
    background-size: 100% 100%;
}
/*General Text  Style*/

body {
    background-color: white
 }
 
 h1 {
     color: blue
 }
 
 h2 {
     color: royalblue
 }
 
 p {
     color: darkslategrey
 }
 
 section { padding-top: 2%;
 
 }
 
 /*Navigaton Bar*/
 
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #6c8cf5;
     position: static ;
     top: 0;
     width: 100%;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #653ef1;
   }
   
   .active {
     background-color: #1d0cb6;
   }