
/*Header Styles */

/*Full sized screens up to 1800pixels wide, then it centers on the screen in the x-axis */
header {
  background-image: url(1800x100_GradeEhBanner.png);
  max-width: 100%;
  height: auto;
  background-position: center;
  }

/* Mid-sized screens between 301pixels and 900pixels */
@media only screen and (max-width: 900px) and (min-width:  301px) {header {
  background-image: url(900x51_GradeEhBanner.png);
  max-width: 100%;
  height: auto;
  background-position: center;
}}

/* Small screens under 300pixels in width */
@media only screen and (max-width: 300) {header {
  background-image: url(300x152_GradeEhBanner.png);
  max-width: 100%;
  height: auto;
  background-position: center;
}}


/*General Text  Style*/

body {
   background-color: #EEEEEE;
}

h1 {
    color: blue
}

h2 {
    color: royalblue
}

p {
    color: darkslategrey
}

section { padding-top: 2%;

}

/*Navigaton Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b882ee;
    position: static ;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ee82ee;
  }
  
  .active {
    background-color: #ee82b8;
  }
















/* .topnav {
    overflow:hidden;
    background-color: slategrey;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkslategray;
    color: white    
}

.topnav a:selection {
    background-color: grey;
    color: white
} */
