header {
    background-image: url(banner.jpg);
}
body {
   background-color: whitesmoke;
}

h1 {
    color: mediumorchid
}

h2 {
    color: royalblue
}

p {
    color: darkslategrey
}

/*Navigaton Bar*/
.topnav {
    overflow:hidden;
    background-color: slategrey;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkslategray;
    color: white    
}

.topnav a:selection {
    background-color: grey;
    color: white
}
