



/*General Text  Style*/

header {
    background-image: url('banner3.png');
}

body {
   background-color: #EEEEEE;
}

h1 {
    color: blue
}

h2 {
    color: royalblue
}

p {
    color: darkslategrey
}

section { padding-top: 2%;

}

/*Navigaton Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b882ee;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ee82ee;
  }
  
  .active {
    background-color: #ee82b8;
  }
















/* .topnav {
    overflow:hidden;
    background-color: slategrey;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkslategray;
    color: white    
}

.topnav a:selection {
    background-color: grey;
    color: white
} */
